In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
#seaborn tambien para graficar

#graficar
import matplotlib.pyplot as plt

import matplotlib.ticker as ticker


#sistema operativo
import os

#leer archivos de web
import urllib

In [2]:
import ipywidgets as widgets
widgets.IntSlider()

IntSlider(value=0)

In [33]:
# Importación de la biblioteca pandas, generalmente importada como pd por convención
import pandas as pd

# URL del archivo CSV que se encuentra en un repositorio de GitHub
url = "https://drive.google.com/uc?export=download&id=1TzJxZC1G5Rkqcw3wWk7XDY2o24VHAAQ6"

# Lectura del archivo CSV desde la URL utilizando pandas
# El parámetro sep=";" especifica que el separador de columnas en el archivo CSV es un punto y coma
df = pd.read_csv(url, sep=",")

# Mostrar el contenido del DataFrame df
# En un entorno interactivo como Jupyter Notebook, esta línea muestra las primeras y últimas filas del DataFrame
df

,ORDEN,ARMAS_MEDIOS,BARRIOS_HECHO,LATITUD,LONGITUD,ZONA,NOM_COMUNA,ANO,MES,DIA,DIA_SEMANA,DESCRIPCION_CONDUCTA,CONDUCTA,CLASIFICACIONES DELITO,CURSO_DE_VIDA,ESTADO_CIVIL_PERSONA,GENERO,MOVIL_AGRESOR,MOVIL_VICTIMA
0,1,ARMA BLANCA / CORTOPUNZANTE,BUENOS AIRES,"7,170,557,382","-73,135,108",URBANA,14. MORRORICO,2010,01. ENERO,1,05. VIERNES,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,LESIONES NO FATALES,05. ADULTEZ,UNION LIBRE,MASCULINO,A PIE,A PIE
1,2,ARMA BLANCA / CORTOPUNZANTE,CAMPO HERMOSO,"7,120,645,358","-7,312,605",URBANA,05. GARCÍA ROVIRA,2010,01. ENERO,1,05. VIERNES,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,LESIONES NO FATALES,04. JOVENES,SOLTERO,MASCULINO,A PIE,A PIE
2,3,ARMA BLANCA / CORTOPUNZANTE,CAMPO HERMOSO,"7,120,645,358","-7,312,605",URBANA,05. GARCÍA ROVIRA,2010,01. ENERO,1,05. VIERNES,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,LESIONES NO FATALES,04. JOVENES,SOLTERO,MASCULINO,A PIE,A PIE
3,4,ARMA BLANCA / CORTOPUNZANTE,COMUNEROS,"715,135,927","-73,145,704,583",URBANA,03. SAN FRANCISCO,2010,01. ENERO,1,05. VIERNES,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,LESIONES NO FATALES,05. ADULTEZ,CASADO,MASCULINO,A PIE,A PIE
4,5,ARMA BLANCA / CORTOPUNZANTE,GIRARDOT,"7,170,557,382","-73,135,108",URBANA,04. OCCIDENTAL,2010,01. ENERO,1,05. VIERNES,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,LESIONES NO FATALES,04. JOVENES,UNION LIBRE,MASCULINO,A PIE,A PIE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135071,135072,SIN EMPLEO DE ARMAS,CABECERA DEL LLANO,xx.xxxx,-yy.yyyy,NO REPORTA,12. CABECERA DEL LLANO,2021,12. DICIEMBRE,31,05. VIERNES,ARTÍCULO 239. HURTO A PERSONAS,HURTO A PERSONAS,LESIONES NO FATALES,04. JOVENES,NO REPORTA,NO REPORTA,A PIE,PASAJERO MOTOCICLETA
135072,135073,ARMA DE FUEGO,JARDINES DE COAVICONSA,xx.xxxx,-yy.yyyy,NO REPORTA,11. SUR,2021,12. DICIEMBRE,31,05. VIERNES,ARTÍCULO 239. HURTO A PERSONAS,HURTO A PERSONAS,LESIONES NO FATALES,04. JOVENES,NO REPORTA,NO REPORTA,A PIE,CONDUCTOR MOTOCICLETA
135073,135074,ARMA DE FUEGO,PROVENZA,xx.xxxx,-yy.yyyy,NO REPORTA,10. PROVENZA,2021,12. DICIEMBRE,31,05. VIERNES,ARTÍCULO 239. HURTO A PERSONAS,HURTO A PERSONAS,LESIONES NO FATALES,04. JOVENES,NO REPORTA,NO REPORTA,A PIE,CONDUCTOR MOTOCICLETA
135074,135075,ARMA BLANCA / CORTOPUNZANTE,TOLEDO PLATA,xx.xxxx,-yy.yyyy,NO REPORTA,11. SUR,2021,12. DICIEMBRE,31,05. VIERNES,ARTÍCULO 239. HURTO A PERSONAS,HURTO A PERSONAS,LESIONES NO FATALES,05. ADULTEZ,NO REPORTA,NO REPORTA,A PIE,A PIE
135075,135076,PALANCAS,LA GRAN LADERA,xx.xxxx,-yy.yyyy,NO REPORTA,17. MUTIS,2021,12. DICIEMBRE,31,05. VIERNES,ARTÍCULO 239. HURTO A RESIDENCIAS,HURTO A RESIDENCIAS,LESIONES NO FATALES,05. ADULTEZ,NO REPORTA,FEMENINO,A PIE,CONDUCTOR VEHICULO

In [3]:
# Mostrar las primeras cinco filas del DataFrame df
# Si el DataFrame tiene menos de cinco filas, se mostrarán todas las filas disponibles
df.head(5)

,ORDEN,ARMAS_MEDIOS,BARRIOS_HECHO,LATITUD,LONGITUD,ZONA,NOM_COMUNA,ANO,MES,DIA,DIA_SEMANA,DESCRIPCION_CONDUCTA,CONDUCTA,CLASIFICACIONES DELITO,CURSO_DE_VIDA,ESTADO_CIVIL_PERSONA,GENERO,MOVIL_AGRESOR,MOVIL_VICTIMA
0,1,ARMA BLANCA / CORTOPUNZANTE,BUENOS AIRES,"7,170,557,382","-73,135,108",URBANA,14. MORRORICO,2010,01. ENERO,1,05. VIERNES,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,LESIONES NO FATALES,05. ADULTEZ,UNION LIBRE,MASCULINO,A PIE,A PIE
1,2,ARMA BLANCA / CORTOPUNZANTE,CAMPO HERMOSO,"7,120,645,358","-7,312,605",URBANA,05. GARCÍA ROVIRA,2010,01. ENERO,1,05. VIERNES,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,LESIONES NO FATALES,04. JOVENES,SOLTERO,MASCULINO,A PIE,A PIE
2,3,ARMA BLANCA / CORTOPUNZANTE,CAMPO HERMOSO,"7,120,645,358","-7,312,605",URBANA,05. GARCÍA ROVIRA,2010,01. ENERO,1,05. VIERNES,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,LESIONES NO FATALES,04. JOVENES,SOLTERO,MASCULINO,A PIE,A PIE
3,4,ARMA BLANCA / CORTOPUNZANTE,COMUNEROS,"715,135,927","-73,145,704,583",URBANA,03. SAN FRANCISCO,2010,01. ENERO,1,05. VIERNES,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,LESIONES NO FATALES,05. ADULTEZ,CASADO,MASCULINO,A PIE,A PIE
4,5,ARMA BLANCA / CORTOPUNZANTE,GIRARDOT,"7,170,557,382","-73,135,108",URBANA,04. OCCIDENTAL,2010,01. ENERO,1,05. VIERNES,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,LESIONES NO FATALES,04. JOVENES,UNION LIBRE,MASCULINO,A PIE,A PIE

In [17]:
# Obtiene las dimensiones del DataFrame df
df.shape
df.columns
dfc = df.copy()

In [21]:
# Muestra información general sobre el DataFrame `dataset`.

# El método `info()` proporciona un resumen conciso del DataFrame, incluyendo:
# - El número total de entradas (filas).
# - El número de columnas y sus nombres.
# - El tipo de datos de cada columna.
# - La cantidad de valores no nulos en cada columna.
# - La memoria utilizada por el DataFrame.
# Esto es útil para obtener una visión general rápida del DataFrame, identificar tipos de datos y verificar la presencia de valores nulos.

dfc.info()
#dfc.dtypes
#dfc.size

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135076 entries, 0 to 135075
Data columns (total 19 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ORDEN                   135076 non-null  int64
 1   ARMAS_MEDIOS            135076 non-null  object
 2   BARRIOS_HECHO           135076 non-null  object
 3   LATITUD                 135076 non-null  object
 4   LONGITUD                135076 non-null  object
 5   ZONA                    135076 non-null  object
 6   NOM_COMUNA              135076 non-null  object
 7   ANO                     135076 non-null  int64
 8   MES                     135076 non-null  object
 9   DIA                     135076 non-null  int64
 10  DIA_SEMANA              135076 non-null  object
 11  DESCRIPCION_CONDUCTA    135076 non-null  object
 12  CONDUCTA                135076 non-null  object
 13  CLASIFICACIONES DELITO  135076 non-null  object
 14  CURSO_DE_VIDA           135076 non-null  object
 15  ESTADO_CIVIL_PERSONA    135076 non-null  object
 16  GENERO                  135076 non-null  object
 17  MOVIL_AGRESOR           135076 non-null  object
 18  MOVIL_VICTIMA           135076 non-null  object
dtypes: int64(3), object(16)
memory usage: 19.6+ MB

In [23]:
# Maneja los duplicados en un DataFrame

# Encuentra las filas duplicadas en el DataFrame `df` utilizando el método `duplicated()`.
# El método `duplicated()` devuelve un booleano indicando si una fila es duplicada (True) o no (False).
# Filtra el DataFrame para obtener solo las filas duplicadas.
#dfc[dfc.duplicated()]
duplicate_rows_data = dfc[dfc.duplicated()]

# Imprime el número de filas duplicadas encontradas en el DataFrame.
# `shape` devuelve una tupla que representa las dimensiones del DataFrame,
# donde `shape[0]` es el número de filas. En este caso, indica cuántas filas duplicadas hay.
print("numero de filas duplicadas es: ", duplicate_rows_data.shape[0])
#print(duplicate_rows_data)

numero de filas duplicadas es:  0
Empty DataFrame
Columns: [ORDEN, ARMAS_MEDIOS, BARRIOS_HECHO, LATITUD, LONGITUD, ZONA, NOM_COMUNA, ANO, MES, DIA, DIA_SEMANA, DESCRIPCION_CONDUCTA, CONDUCTA, CLASIFICACIONES DELITO, CURSO_DE_VIDA, ESTADO_CIVIL_PERSONA, GENERO, MOVIL_AGRESOR, MOVIL_VICTIMA]
Index: []

In [24]:
# Recorre cada columna del DataFrame `df` y cuenta el número de valores distintos en cada columna.

# El bucle `for` itera sobre cada nombre de columna en `df.columns`, que es una lista de nombres de columna.
# Para cada columna, se calcula el número de valores únicos utilizando el método `unique()` seguido de `len()`.
# `df[column].unique()` devuelve un array de valores únicos en la columna actual.
# `len()` calcula la longitud de este array, es decir, el número de valores distintos.
# El resultado se imprime en el formato: "nombre_columna: número_distinto valores únicos".

for column in dfc.columns:
    num_distinct_values = len(dfc[column].unique())
    print(f"{column}: {num_distinct_values} Valores diferentes")

ORDEN: 135076 Valores diferentes
ARMAS_MEDIOS: 43 Valores diferentes
BARRIOS_HECHO: 484 Valores diferentes
LATITUD: 64429 Valores diferentes
LONGITUD: 60106 Valores diferentes
ZONA: 4 Valores diferentes
NOM_COMUNA: 26 Valores diferentes
ANO: 12 Valores diferentes
MES: 12 Valores diferentes
DIA: 31 Valores diferentes
DIA_SEMANA: 7 Valores diferentes
DESCRIPCION_CONDUCTA: 43 Valores diferentes
CONDUCTA: 41 Valores diferentes
CLASIFICACIONES DELITO: 4 Valores diferentes
CURSO_DE_VIDA: 8 Valores diferentes
ESTADO_CIVIL_PERSONA: 7 Valores diferentes
GENERO: 3 Valores diferentes
MOVIL_AGRESOR: 14 Valores diferentes
MOVIL_VICTIMA: 14 Valores diferentes

In [30]:
dfc.GENERO.unique()

array(['MASCULINO', 'FEMENINO', 'NO REPORTA'], dtype=object)

In [28]:
# Genera un resumen estadístico de las columnas numéricas en el DataFrame `df` y luego transpone el resultado.

# `df.describe()` calcula estadísticas descriptivas como el conteo, media, desviación estándar, valores mínimo y máximo,
# y los percentiles (25%, 50%, 75%) para cada columna numérica en el DataFrame.
# - `T` es un atributo que transpone el DataFrame resultante, intercambiando las filas y las columnas.
#   Esto facilita la lectura de las estadísticas, especialmente si el DataFrame tiene muchas columnas numéricas.

#dfc.decribe()
dfc.describe().T
#dfc.describe(include=["float","int"])

,count,mean,std,min,25%,50%,75%,max
ORDEN,135076.0,67538.500000,38993.226818,1.0,33769.75,67538.5,101307.25,135076.0
ANO,135076.0,2015.724896,3.344696,2010.0,2013.00,2016.0,2019.00,2021.0
DIA,135076.0,15.488510,8.811255,1.0,8.00,15.0,23.00,31.0

In [29]:
# Genera un resumen estadístico de las columnas categóricas en el DataFrame `df` y luego transpone el resultado.

# `df.describe(include=['object'])` calcula estadísticas descriptivas como el conteo de valores no nulos,
# el número de valores únicos, el valor más frecuente y su frecuencia para cada columna categórica en el DataFrame.
# - `include=['object']` especifica que solo se incluyan las columnas de tipo objeto (categóricas).
# - `T` es un atributo que transpone el DataFrame resultante, intercambiando las filas y las columnas.
#   Esto facilita la lectura de las estadísticas, especialmente si el DataFrame tiene muchas columnas categóricas.

#df.describe(include=['object'])
df.describe(include=['object']).T

                         count unique                             top    freq
ARMAS_MEDIOS            135076     43             SIN EMPLEO DE ARMAS   38265
BARRIOS_HECHO           135076    484                          CENTRO   11199
LATITUD                 135076  64429                         xx.xxxx    6363
LONGITUD                135076  60106                        -yy.yyyy    6363
ZONA                    135076      4                          URBANA  131547
NOM_COMUNA              135076     26               03. SAN FRANCISCO   15875
MES                     135076     12                     10. OCTUBRE   11990
DIA_SEMANA              135076      7                      06. SÁBADO   21747
DESCRIPCION_CONDUCTA    135076     43  ARTÍCULO 239. HURTO A PERSONAS   48452
CONDUCTA                135076     41                HURTO A PERSONAS   48452
CLASIFICACIONES DELITO  135076      4             LESIONES NO FATALES  128993
CURSO_DE_VIDA           135076      8                     05. ADULTEZ   62516
ESTADO_CIVIL_PERSONA    135076      7                         SOLTERO   61727
GENERO                  135076      3                       MASCULINO   63560
MOVIL_AGRESOR           135076     14                           A PIE   93438
MOVIL_VICTIMA           135076     14                           A PIE  104797

In [31]:
# Comprobar los valores nulos en el DataFrame
# `isnull().sum()` devuelve el número de valores nulos por columna
missing_values = dfc.isnull().sum()

# Mostrar el número de valores nulos por columna
print("Número de valores nulos por columna:")
print(missing_values)

Número de valores nulos por columna:
ORDEN                     0
ARMAS_MEDIOS              0
BARRIOS_HECHO             0
LATITUD                   0
LONGITUD                  0
ZONA                      0
NOM_COMUNA                0
ANO                       0
MES                       0
DIA                       0
DIA_SEMANA                0
DESCRIPCION_CONDUCTA      0
CONDUCTA                  0
CLASIFICACIONES DELITO    0
CURSO_DE_VIDA             0
ESTADO_CIVIL_PERSONA      0
GENERO                    0
MOVIL_AGRESOR             0
MOVIL_VICTIMA             0
dtype: int64