In [3]:
import pandas as pd
import numpy as np

import seaborn as sns
#seaborn tambien para graficar

#graficar
import matplotlib.pyplot as plt

import matplotlib.ticker as ticker


#sistema operativo
import os

#leer archivos de web
import urllib

In [1]:
import ipywidgets as widgets
widgets.IntSlider()

IntSlider(value=0)

In [2]:
# Importación del módulo urllib para realizar operaciones con URLs
import urllib.request

# Definición de la URL del archivo de texto que se encuentra en un repositorio de GitHub
urlvariables = "https://raw.githubusercontent.com/adiacla/bigdata/master/variable.txt"

# Apertura de la URL utilizando urllib, que permite leer el contenido del archivo en la URL
variables = urllib.request.urlopen(urlvariables)

# Iteración sobre cada línea en el archivo abierto
for linea in variables:
    # Decodificación de cada línea desde bytes a una cadena de texto utilizando UTF-8
    print(linea.decode("utf-8"))

price: precio de la vivienda.

lotSize: metros cuadrados de la vivienda.

age: antigüedad de la vivienda.

landValue: valor del terreno.

livingArea: metros cuadrados habitables.

pctCollege: porcentaje del vecindario con título universitario.

bedrooms: número de dormitorios.

firplaces: número de chimeneas.

bathrooms: número de cuartos de baño (el valor 0.5 hace referencia a cuartos de baño sin ducha).

rooms: número de habitaciones.

heating: tipo de calefacción.

fuel: tipo de alimentación de la calefacción (gas, electricidad o diesel).

sewer: tipo de desagüe.

waterfront: si la vivienda tiene vistas al lago.

newConstruction: si la vivienda es de nueva construcción.

centralAir: si la vivienda tiene aire acondicionado.

built date: fecha de contruida

property code: número catastral

mtrsmyroom: Area por salón

category: Tipo de construcción

In [3]:
# Importación de la biblioteca pandas, generalmente importada como pd por convención
import pandas as pd

# URL del archivo CSV que se encuentra en un repositorio de GitHub
url = "https://raw.githubusercontent.com/adiacla/bigdata/master/casasOrg.csv"

# Lectura del archivo CSV desde la URL utilizando pandas
# El parámetro sep=";" especifica que el separador de columnas en el archivo CSV es un punto y coma
df = pd.read_csv(url, sep=";")

# Mostrar el contenido del DataFrame df
# En un entorno interactivo como Jupyter Notebook, esta línea muestra las primeras y últimas filas del DataFrame
df

,price,lotSize,age,landValue,livingArea,pctCollege,bedrooms,fireplaces,bathrooms,rooms,heating,fuel,sewer,waterfront,newConstruction,centralAir,built date,property code,mtrsmyroom,category
0,132500,0.09,42,50000,906.0,35,2,1.0,1.0,5,electric,electric,septic,No,No,No,21/08/1978,UC0101375548AWS38852,"10181,2",Lx
1,181115,0.92,0,22300,1953.0,51,3,NaN,2.5,6,hot water/steam,gas,septic,No,No,No,10/08/2020,UC0101385720AWS27109,"4042,166667",Mx
2,132500,0.09,42,50000,906.0,35,2,1.0,1.0,5,electric,electric,septic,No,No,No,21/08/1978,UC0101375548AWS38852,"10181,2",Lx
3,181115,0.92,0,22300,1953.0,51,3,NaN,2.5,6,hot water/steam,gas,septic,No,No,No,10/08/2020,UC0101385720AWS27109,"4042,166667",Mx
4,109000,0.19,133,7300,1944.0,51,4,1.0,1.0,8,hot water/steam,gas,public/commercial,No,No,No,##############################################...,UC0101341673AWS22539,"1155,5",S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1725,265880,0.38,32,24200,2310.0,61,5,1.0,2.5,11,hot water/steam,gas,public/commercial,No,No,No,18/08/1988,UC010164584AWS85226,2410,S
1726,270750,0.94,37,36200,2564.0,61,4,1.0,2.5,11,hot water/steam,gas,public/commercial,No,No,No,20/08/1983,UC0101795774AWS37985,3524,Mx
1727,175410,0.39,9,20400,1099.0,51,2,NaN,1.0,3,hot air,gas,public/commercial,No,No,No,13/08/2011,UC0101854026AWS70632,"7166,333333",M
1728,117500,0.24,48,16800,1225.0,51,3,1.0,1.0,7,hot air,gas,public/commercial,No,No,No,22/08/1972,UC0101693094AWS83998,2575,S
1729,107961,0.59,86,26000,1959.0,51,3,NaN,1.0,6,hot air,gas,septic,No,No,No,1/09/1934,UC0101938234AWS39062,"4659,833333",Mx